<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxt.surveyscale.mapper.AnswerMapper">

    <resultMap id="AnswerResultMap" type="com.yinxt.surveyscale.entity.Answer">
        <result column="answer_id" property="answerId"/>
        <result column="examination_paper_id" property="scalePaperId"/>
        <result column="question_id" property="questionId"/>
        <result column="content" property="content"/>
        <result column="score" property="score"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertAnswer" parameterType="com.yinxt.surveyscale.entity.Answer">
     insert into tb_answer(answer_id, scale_paper_id, question_id, score, content, create_time, update_time)
     values (#{answerId,jdbcType=VARCHAR}, #{scalePaperId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR},
     #{score,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, now(), now())
    </insert>

    <insert id="insertAnswerList">
        insert into tb_answer(answer_id, scale_paper_id, question_id, score, content, create_time, update_time)
        values
        <foreach collection="answerList" item="answer" separator=",">
            (#{answer.answerId,jdbcType=VARCHAR}, #{answer.scalePaperId,jdbcType=VARCHAR},
            #{answer.questionId,jdbcType=VARCHAR}, #{answer.score,jdbcType=VARCHAR}, #{answer.content,jdbcType=VARCHAR},
            now(), now())
        </foreach>
    </insert>

    <update id="updateAnswer">
        update tb_answer
        <set>
            <trim suffixOverrides=",">
                <if test="content != null and content != '' ">
                    content=#{content,jdbcType=VARCHAR},
                </if>
                <if test="score != null">
                    score=#{score,jdbcType=VARCHAR},
                </if>
                update_time=now()
            </trim>
        </set>
        <where>
            answer_id=#{answerId,jdbcType=VARCHAR}
        </where>
    </update>

    <select id="selectAnswer" parameterType="com.yinxt.surveyscale.entity.Answer" resultMap="AnswerResultMap">
        select * from tb_answer
        <where>
            <if test="questionId != null and questionId != ''.toString()">
                question_id = #{questionId,jdbcType=VARCHAR}
            </if>
            <if test="scalePaperId != null and scalePaperId != ''.toString()">
                and scale_paper_id = #{scalePaperId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
