<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxt.surveyscale.mapper.JudgeInfoMapper">

    <resultMap id="JudgeInfoResultMap" type="com.yinxt.surveyscale.entity.JudgeInfo">
        <result column="judge_id" property="judgeId"/>
        <result column="examination_paper_id" property="scalePaperId"/>
        <result column="check_user" property="checkUser"/>
        <result column="check_time" property="checkTime"/>
        <result column="total_score" property="totalScore"/>
        <result column="frequency_total_score" property="frequencyTotalScore"/>
        <result column="serious_total_score" property="seriousTotalScore"/>
        <result column="frequency_serious_total_score" property="frequencySeriousTotalScore"/>
        <result column="distress_total_score" property="distressTotalScore"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertJudgeInfo" parameterType="com.yinxt.surveyscale.entity.JudgeInfo">
        insert into tb_judge(judge_id, scale_paper_id, check_user, check_time, total_score, frequency_total_score, serious_total_score, frequency_serious_total_score, distress_total_score, create_time, update_time)
        values (#{judgeId,jdbcType=VARCHAR}, #{scalePaperId,jdbcType=VARCHAR}, #{checkUser,jdbcType=VARCHAR}, now(), #{totalScore,jdbcType=VARCHAR},
        #{frequencyTotalScore,jdbcType=VARCHAR}, #{seriousTotalScore,jdbcType=VARCHAR}, #{frequencySeriousTotalScore,jdbcType=VARCHAR}, #{distressTotalScore,jdbcType=VARCHAR}, now(), now())
    </insert>


    <select id="selectJudgeInfo" parameterType="com.yinxt.surveyscale.entity.JudgeInfo" resultMap="JudgeInfoResultMap">
        select * from tb_judge
        where scale_paper_id = #{scalePaperId,jdbcType=VARCHAR}
    </select>

    <update id="updateJudgeInfo" parameterType="com.yinxt.surveyscale.entity.JudgeInfo">
        update
        tb_judge
        set
        check_time = now(),
        check_user = #{checkUser,jdbcType=VARCHAR},
        total_score = #{totalScore,jdbcType=VARCHAR},
        frequency_total_score = #{frequencyTotalScore,jdbcType=VARCHAR},
        serious_total_score = #{seriousTotalScore,jdbcType=VARCHAR},
        frequency_serious_total_score = #{frequencySeriousTotalScore,jdbcType=VARCHAR},
        distress_total_score = #{distressTotalScore,jdbcType=VARCHAR},
        update_time = now()
        where scale_paper_id = #{scalePaperId,jdbcType=VARCHAR}
    </update>
</mapper>
