<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinxt.surveyscale.mapper.PatientInfoMapper">

    <resultMap id="patientInfoResultMap" type="com.yinxt.surveyscale.entity.PatientInfo">
        <result column="patient_id" property="patientId"/>
        <result column="medical_record_num" property="medicalRecordNum"/>
        <result column="patient_group" property="patientGroup"/>
        <result column="doctor_id" property="doctorId"/>
        <result column="patient_name" property="name"/>
        <result column="id_card" property="idCard"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="telephone_number" property="telephoneNumber"/>
        <result column="family_address" property="familyAddress"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="nation" property="nation"/>
        <result column="marriage_status" property="marriageStatus"/>
        <result column="work_status" property="workStatus"/>
        <result column="in_service_job" property="inServiceJob"/>
        <result column="education_level" property="educationLevel"/>
        <result column="education_years" property="educationYears"/>
        <result column="is_snoring" property="isSnoring"/>
        <result column="living_way" property="livingWay"/>
        <result column="medical_history" property="medicalHistory"/>
        <result column="other_medical_history" property="otherMedicalHistory"/>
        <result column="smoking_history" property="smokingHistory"/>
        <result column="smoking_num_eachday" property="smokingNumEachDay"/>
        <result column="smoking_years" property="smokingYears"/>
        <result column="is_mental_disease_family_history" property="isMentalDiseaseFamilyHistory"/>
        <result column="mental_disease_family_history" property="mentalDiseaseFamilyHistory"/>
        <result column="other_mental_disease_family_history" property="otherMentalDiseaseFamilyHistory"/>
        <result column="current_medical_history_memory_loss" property="currentMedicalHistoryMemoryLoss"/>
        <result column="memory_loss_time" property="memoryLossTime"/>
        <result column="physical_examination" property="physicalExamination"/>
        <result column="is_use_cognitive_drugs" property="isUseCognitiveDrugs"/>
        <result column="drugs_dosage" property="drugsDosage"/>
        <result column="hand" property="hand"/>
        <result column="drinking_history" property="drinkingHistory"/>
        <result column="drinking_type" property="drinkingType"/>
        <result column="drinking_num_eachday" property="drinkingNumEachDay"/>
        <result column="drinking_years" property="drinkingYears"/>
    </resultMap>

    <select id="selectPatientInfo" parameterType="com.yinxt.surveyscale.entity.PatientInfo"
            resultMap="patientInfoResultMap">
        select *
        from tb_patient
        <where>
            status = '1'
            <if test="patientId != null and patientId != ''">
                and patient_id=#{patientId,jdbcType=VARCHAR}
            </if>
            <if test="doctorId != null and doctorId != ''">
                and doctor_id=#{doctorId,jdbcType=VARCHAR}
            </if>
            <if test="medicalRecordNum != null and medicalRecordNum != '' ">
                and medical_record_num=#{medicalRecordNum,jdbcType=VARCHAR}
            </if>
            <if test="idCard != null and idCard != '' ">
                id_card=#{idCard,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectCountPatientByIdCard" resultType="int">
        select count(*) from tb_patient where id_card = #{idCard,jdbcType=VARCHAR} and status = '1'
    </select>

    <select id="selectCountPatientByMedicalNum" resultType="int">
        select count(*) from tb_patient where medical_record_num=#{medicalRecordNum,jdbcType=VARCHAR} and status = '1'
    </select>

    <select id="selectPatientInfoByPatientId" resultMap="patientInfoResultMap">
        select *
        from tb_patient
        <where>
            status = '1'
            and patient_id=#{patientId,jdbcType=VARCHAR}
        </where>
    </select>

    <select id="selectPatientInfoList" parameterType="com.yinxt.surveyscale.entity.PatientInfo"
            resultMap="patientInfoResultMap">
        select *
        from tb_patient
        <where>
            status = '1'
            <if test="name != null and name != '' ">
                and patient_name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday,jdbcType=DATE}
            </if>
            <if test="gender != null and gender != '' ">
                and gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="telephoneNumber != null and telephoneNumber != '' ">
                and telephone_number=#{telephoneNumber,jdbcType=VARCHAR}
            </if>
            <if test="nation != null and nation != '' ">
                and nation = #{nation,jdbcType=VARCHAR}
            </if>
            <if test="medicalRecordNum != null and medicalRecordNum != '' ">
                and medical_record_num=#{medicalRecordNum,jdbcType=VARCHAR}
            </if>
            <if test="patientGroup != null and patientGroup != '' ">
                and patient_group=#{patientGroup,jdbcType=VARCHAR}
            </if>
            and doctor_id = #{doctorId,jdbcType=VARCHAR}
        </where>
        order by create_time desc
    </select>

    <select id="selectPatientListByIdArray" resultMap="patientInfoResultMap">
        select * from tb_patient
        where patient_id in
        <foreach collection="array" open="(" close=")" separator="," item="patientId">
            #{patientId,jdbcType=VARCHAR}
        </foreach>
        and doctor_id = #{doctorId}
    </select>

    <select id="selectPatientByScaleIdAndPatientId" resultMap="patientInfoResultMap">
        select * from tb_patient tpi, tb_scale tsi
        where
        tpi.status = '1'
        and tsi.doctor_id = tpi.doctor_id
        and tpi.patient_id = #{patientId,jdbcType=VARCHAR}
        and tsi.scale_id = #{scaleId,jdbcType=VARCHAR}
    </select>

    <select id="selectPatientByReportIdAndIdCard" resultMap="patientInfoResultMap">
        select *
        from tb_patient tp, tb_doctor_report tdr
        where
        tp.status = '1'
        and tp.doctor_id = tdr.doctor_id
        and tp.id_card = #{idCard,jdbcType=VARCHAR}
        and tdr.report_id = #{reportId,jdbcType=VARCHAR}
    </select>

    <select id="selectPatientByReportIdAndPatientId" resultMap="patientInfoResultMap">
        select *
        from tb_patient tp, tb_doctor_report tdr
        where
        tp.status = '1'
        and tp.doctor_id = tdr.doctor_id
        and tp.patient_id = #{patientId,jdbcType=VARCHAR}
        and tdr.report_id = #{reportId,jdbcType=VARCHAR}
    </select>

    <insert id="insertPatientInfo" parameterType="com.yinxt.surveyscale.entity.PatientInfo">
        insert into tb_patient
        (patient_id, medical_record_num, patient_group, doctor_id, patient_name, id_card, gender, birthday, telephone_number, family_address, create_time,
        update_time, nation, marriage_status, work_status, in_service_job, education_level,
        education_years,is_snoring, living_way, medical_history, other_medical_history, smoking_history,
        smoking_num_eachday, smoking_years, is_mental_disease_family_history, mental_disease_family_history,
        other_mental_disease_family_history, current_medical_history_memory_loss, memory_loss_time, physical_examination,
        is_use_cognitive_drugs, drugs_dosage, hand, drinking_history, drinking_type, drinking_num_eachday,
        drinking_years
        )
        values (
        #{patientId,jdbcType=VARCHAR},
        #{medicalRecordNum,jdbcType=VARCHAR},
        #{patientGroup,jdbcType=VARCHAR},
        #{doctorId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{idCard,jdbcType=VARCHAR},
        #{gender,jdbcType=INTEGER},
        #{birthday, jdbcType=DATE},
        #{telephoneNumber,jdbcType=VARCHAR},
        #{familyAddress,jdbcType=VARCHAR},
        now(),now(),
        #{nation,jdbcType=VARCHAR}, #{marriageStatus,jdbcType=VARCHAR}, #{workStatus,jdbcType=VARCHAR},
        #{inServiceJob,jdbcType=VARCHAR}, #{educationLevel,jdbcType=VARCHAR},
        #{educationYears,jdbcType=VARCHAR},
        #{isSnoring,jdbcType=VARCHAR},#{livingWay,jdbcType=VARCHAR},#{medicalHistory,jdbcType=VARCHAR},
        #{otherMedicalHistory,jdbcType=VARCHAR},#{smokingHistory,jdbcType=VARCHAR},
        #{smokingNumEachDay,jdbcType=VARCHAR},#{smokingYears,jdbcType=VARCHAR},
        #{isMentalDiseaseFamilyHistory,jdbcType=VARCHAR},
        #{mentalDiseaseFamilyHistory,jdbcType=VARCHAR},#{otherMentalDiseaseFamilyHistory,jdbcType=VARCHAR},
        #{currentMedicalHistoryMemoryLoss,jdbcType=VARCHAR},#{memoryLossTime,jdbcType=VARCHAR},#{physicalExamination,jdbcType=VARCHAR},
        #{isUseCognitiveDrugs,jdbcType=VARCHAR},#{drugsDosage,jdbcType=VARCHAR},#{hand,jdbcType=VARCHAR},
        #{drinkingHistory,jdbcType=VARCHAR},#{drinkingType,jdbcType=VARCHAR},#{drinkingNumEachDay,jdbcType=VARCHAR},
        #{drinkingYears,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updatePatientInfo" parameterType="com.yinxt.surveyscale.entity.PatientInfo">
        update tb_patient
        <set>
            <if test="name != null">
                patient_name=#{name,jdbcType=VARCHAR},
            </if>
            <if test="medicalRecordNum != null">
                medical_record_num=#{medicalRecordNum,jdbcType=VARCHAR},
            </if>
            <if test="patientGroup != null">
                patient_group=#{patientGroup,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card=#{idCard,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender=#{gender,jdbcType=VARCHAR},
            </if>
            <if test="telephoneNumber != null">
                birthday=#{birthday,jdbcType=DATE},
            </if>
            <if test="telephoneNumber != null">
                telephone_number=#{telephoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="familyAddress != null">
                family_address=#{familyAddress,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                nation = #{nation, jdbcType=VARCHAR},
            </if>
            <if test="marriageStatus != null">
                marriage_status = #{marriageStatus, jdbcType=VARCHAR},
            </if>
            <if test="workStatus != null">
                work_status = #{workStatus,jdbcType=VARCHAR},
            </if>
            <if test="inServiceJob != null">
                in_service_job = #{inServiceJob,jdbcType=VARCHAR},
            </if>
            <if test="educationLevel != null">
                education_level = #{educationLevel,jdbcType=VARCHAR},
            </if>
            <if test="educationYears != null">
                education_years = #{educationYears,jdbcType=VARCHAR},
            </if>
            <if test="isSnoring != null">
                is_snoring = #{isSnoring,jdbcType=VARCHAR},
            </if>
            <if test="livingWay != null">
                living_way = #{livingWay,jdbcType=VARCHAR},
            </if>
            <if test="medicalHistory != null">
                medical_history = #{medicalHistory,jdbcType=VARCHAR},
            </if>
            <if test="otherMedicalHistory != null">
                other_medical_history = #{otherMedicalHistory,jdbcType=VARCHAR},
            </if>
            <if test="smokingHistory != null">
                smoking_history = #{smokingHistory,jdbcType=VARCHAR},
            </if>
            <if test="smokingYears != null">
                smoking_years = #{smokingYears,jdbcType=VARCHAR},
            </if>
            <if test="smokingNumEachDay != null">
                smoking_num_eachday = #{smokingNumEachDay,jdbcType=VARCHAR},
            </if>
            <if test="isMentalDiseaseFamilyHistory!=null">
                is_mental_disease_family_history=#{isMentalDiseaseFamilyHistory,jdbcType=VARCHAR},
            </if>
            <if test="mentalDiseaseFamilyHistory!=null">
                mental_disease_family_history=#{mentalDiseaseFamilyHistory,jdbcType=VARCHAR},
            </if>
            <if test="otherMentalDiseaseFamilyHistory!=null">
                other_mental_disease_family_history=#{otherMentalDiseaseFamilyHistory,jdbcType=VARCHAR},
            </if>
            <if test="currentMedicalHistoryMemoryLoss!=null">
                current_medical_history_memory_loss=#{currentMedicalHistoryMemoryLoss,jdbcType=VARCHAR},
            </if>
            <if test="memoryLossTime!=null">
                memory_loss_time=#{memoryLossTime,jdbcType=VARCHAR},
            </if>
            <if test="physicalExamination!=null">
                physical_examination=#{physicalExamination,jdbcType=VARCHAR},
            </if>
            <if test="isUseCognitiveDrugs!=null">
                is_use_cognitive_drugs=#{isUseCognitiveDrugs,jdbcType=VARCHAR},
            </if>
            <if test="drugsDosage!=null">
                drugs_dosage=#{drugsDosage,jdbcType=VARCHAR},
            </if>
            <if test="hand!=null">
                hand=#{hand,jdbcType=VARCHAR},
            </if>
            <if test="drinkingHistory!=null">
                drinking_history=#{drinkingHistory,jdbcType=VARCHAR},
            </if>
            <if test="drinkingType!=null">
                drinking_type=#{drinkingType,jdbcType=VARCHAR},
            </if>
            <if test="drinkingNumEachDay!=null">
                drinking_num_eachday=#{drinkingNumEachDay,jdbcType=VARCHAR},
            </if>
            <if test="drinkingYears!=null">
                drinking_years=#{drinkingYears,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        <where>
            patient_id=#{patientId,jdbcType=VARCHAR}
        </where>
    </update>

    <select id="selectAllPatientIdList" parameterType="string" resultMap="patientInfoResultMap">
        select patient_id from tb_patient
        where doctor_id = #{doctorId,jdbcType=VARCHAR}
        and status = '1'
    </select>

</mapper>
